@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif, "Martel Sans";
}

/* .border{
    border: 2px solid red;
    margin: 3px;
} */
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-sb{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    /* black to white */
    filter: invert(1);
}
.bg-gray12{
    background-color: #121212;
    /* background-color: #127212; */
}

.listyleNone{
    list-style: none;
}
.borderNone{
    border: none;
}
.aLink{
    color: white;
    text-decoration: none;
}
.hover:hover{
    opacity: 1;
}
.bg-k{
    background-color: rgb(172, 170, 170);
}