.container{
    border: 2px solid rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 120px 100px ;
    grid-template-rows : 100px 100px 100px 100px;
    
}
.items{
    border: 2px solid red;
    /* height:200px; */
    /* width: 200px; */
}
/* Over lap item1 and 2 */
.item1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.item2{
    grid-row: 1/2;
    grid-column: 1/2;
}