/* aside{
    width: 30%;
    padding: 100;
    margin-left: 30;
    color:yellowgreen ;
    background-color: rgb(18, 16, 13);
    display: inline-block; 
} */

aside{ 
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
  float: right;
  font-style: italic;
  background-color: rgb(217, 231, 62);
}
.img{
  border: 2px solid black;
}