.container {
    display: flex;
}
.circle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(249, 213, 95);
    border: 1px solid black;
    place-content: center;
    margin-left: 20px;
    margin-top: 10px;
}
.title{
        margin-top: 10px;
    font-size: 20px;
}
.subtitle{
    margin-top: -20px;
    margin-left: 70px;
}
.search{
    height: 10px;
    width: 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 70vw;

}
.Product{color: rgb(85, 84, 84);
    display: flex;
    margin-left: 10vw;
}
.select{
    border: 0px;
    margin-top: -25px;
    color: gray;
    margin-left: 0px;

}
        
    