*{
    padding: auto;
    margin: auto;
}
.Box {
    text-align: center;
    content: normal;
    padding: 5px 5px 5px 5px;
    border: 3px solid black;
    margin:  10px 20px 40px 3px;
    width: 70%;
    /* height: 90%; */
    border-radius: 15px;
    background-color:white;
}

div img {
    /* height: 60%; */
    /* padding: 1px; */
    width: 100%;
    border-radius: 10px;
}

/* ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 5%;
    border-radius: 10px;
    border-color: rgb(122, 42, 197);
    background-color: rgb(212, 236, 92);
} */

.capsules{
    padding: 20px 10px ;
}

.capsules span{    border: 2px rgb(190, 183, 183) solid;
    font-size: 140%;
    border-radius: 100px;
    margin: 1%;
    padding: 10px 20px;
    color: red;
    background-color: rgb(255, 255, 0);;

}

h2{
    margin: 50px;
    text-decoration:rgb(238, 210, 0) underline;
}


.Button button {
    padding: 12px 25px 12px 25px;
    border: none;
    border-radius: 15px;
    background-color: skyblue;
    color: rgb(0, 57, 98);
    font-size: large;
    margin: 20px;

}
aside img{
    height: 500px;
}
    