    
.password-wrapper span {
    /* style={{ marginLeft: "8px", cursor: "pointer" ,display:"flex" ,}} */
     top: 5px;  right: 0;  position: absolute;
}

.logo-container{
    display: flex;
}
.logo img{
}

#derp{
    width: 250px;
    height:250px;
    position: fixed;
    z-index: 1;
    top: 0;
    
}
#univlogo{
    right: 0px;
    width: 150px;
    height:150px;
    border-radius: 50%;

}


