body{
    background-image: url("");
}

.navbar ul{
    list-style-type: none;
    float:right;
    border:2px solid black;
    background-color: aqua;
}

.navbar ul a{
    text-decoration: none;
}

.navbar ul li{
    display:inline-block;
    margin:4px;
}