.container{
    border:2px solid red;
    height:70px;
    width:70px;
    background-color: rgb(0,255,0,0.2);
    /* position:relative;
    animation-name: anime;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function:linear; */
    /* animation-iteration-count:infinite ; */
    /* animation-direction: alternate; */
    animation-fill-mode: both;
    
    
    /* transition:transform 2s; */
    /* transition-delay: 3s; */
    /* transition-timing-function:ease-out; */
}

/* .container:hover{
    width:300px;
    transform:skewY(20deg);
} */

/* @keyframes anime
{
   from{background-color:rgb(206, 114, 65);left:0;top:0;rotate: 30deg;}
   to{background-color:lightgreen;left:300px;top:0;rotate:45deg;}
   /* 50%{background-color:red;left:300px;top:400px;roate:60deg;}
   75%{background-color: blue;left:0;top:400px;rotate: 90deg;} 
} */