*{
    margin: 0;
    padding: 0;
}
.box1{
    height: 200px;
    background-color: red;
    position: static;
}

.box2{
    height: 500px;
    background-color: rgb(39, 216, 90);

}

.box2 .box21{
    /* padding: 10px; */
    /* border: 10px solid rgb(255, 221, 0); */
    width: 30%;
    height: 80%;
    background-color: rgb(90, 45, 226);
}.box2 .box22{
    float: right;
    width: 30%;
    height: 80%;
    background-color: rgb(193, 25, 199);
}

.box3{
    height: auto;
    background-color:pink;
}

.box3 p{
    border: 5px solid rgb(255, 221, 0);
    border-radius: 30%;
    padding: 100px ;
    font-size: 30px;
    text-align: center;
    background-color: rgb(255, 221, 0);
    color: red;

}